.interface{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    padding: 3rem;    
}

.modal-list{
    width: 40%;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

input{
    width: 100%;
}